        <thead>
         <tr>
          <th>Deployment Date</th>
          <th>Campaign End Date</th>
          <th>Email Subject</th>
          <th></th>
         </tr>
        </thead>
        <tbody>
         <tr x-ng-repeat='c in req.job.data.collateral["email"]'>
          <td>{{c.data.deploymentDate}}</td>
          <td>{{c.data.campaignEndDate}}</td>
          <td>{{c.data.subjectLine}}</td>
          <td><button class='small radius' x-ng-click='req.goToMedium("email",$index)'>Edit</button>&nbsp;<button class='small radius alert' x-ng-click='req.deleteCollateral("email",$index)'>Delete</button></td>
         </tr>
        </tbody>
        <tfoot>
         <tr><th colspan='4'><button x-ng-click='req.newMedium("email")'>New Email</button></th></tr>
        </tfoot>