        <thead>
         <tr>
          <th>Deployment Date</th>
          <th>Link</th>
          <th></th>
         </tr>
        </thead>
        <tbody>
         <tr x-ng-repeat='c in req.job.data.collateral["socialmedia"]'>
          <td>{{c.data.deploymentDate}}</td><td><a href='{{c.data.link}}' target='_blank'>{{c.data.link}}</a></td><td><a x-ng-click='req.goToMedium("socialmedia",$index)'>Edit</a></td>
         </tr>
        </tbody>
        <tfoot>
         <tr><th colspan='3'><button x-ng-click='req.newMedium("socialmedia")'>New Social Media</button></th></tr>
        </tfoot>