  <form x-ng-file-drop>
  
   <div class='row'>
    <div class='columns small-8'>
     <div class='row'>
     
      <div class='columns small-12'>    
       <div class='panel'>
        <h5>Webinar Details</h5>
        
        <div class='row'>
         <div class='columns small-4'>
           <label>Deployment Date</label>
           <input type='date' x-ng-model='req.currentMedium.data.deploymentDate' />
         </div>
         <div class='columns small-4'>
           <label>Start Time</label>
           <input type='time' x-ng-model='req.currentMedium.data.startTime' />
         </div>
         <div class='columns small-4'>
           <label>End Time</label>
           <input type='time' x-ng-model='req.currentMedium.data.endTime' />
         </div>
        </div>
        
        <div class='row'>
         <div class='columns small-12'>
          <label>Webinar Title</label>
          <input type='text' x-ng-model='req.currentMedium.data.title' />
         </div>
        </div>
        
        <div class='row'>
         <div class='columns small-12'>
          <label>Webinar Purpose</label>
          <select-list x-ng-model='req.currentMedium.data.purposes' items='req.purposeList.items' style='background-color: white'></select-list>
         </div>
        </div>
        
        <div class='row'>
         <div class='columns small-12'>
          <label>Webinar Objective</label>
          <textarea x-ng-model='req.currentMedium.data.objective' rows='6'></textarea>
         </div>
        </div>
       </div>
       
      </div>
     </div>
    </div>
    
    <div class='columns small-4'>
     <help ng-show='req.currentStep < 3' current-step='req.currentStep' text='req.helpText'></help>
    </div>
    
   </div>
   
   <div class='row'>
    <div class='columns small-12'>
     <div class='panel'>
     
      <h5>Presenter Details</h5>
      <div class='row'>
       <div class='columns small-12'>
        <label>Presenter Name</label>
        <input type='text' x-ng-model='req.currentMedium.data.presenter["Name"]' />
       </div>
      </div>
      
      <div class='row'>
       <div class='columns small-12'>
        <label>Email</label>
        <input type='text' x-ng-model='req.currentMedium.data.presenter["Email"]' />
       </div>
      </div>
      
      <div class='row'>
       <div class='columns small-3'>
        <label>Title</label>
        <input type='text' x-ng-model='req.currentMedium.data.presenter["Title"]' />
       </div>
       <div class='columns small-9'>
        <label>Organization Name</label>
        <input type='text' x-ng-model='req.currentMedium.data.presenter["Organization"]' />
       </div>
      </div>
      
      <div class='row'>
       <div class='columns small-12'>
        <label>Presenter's Photo</label>
        <table x-ng-show='req.currentMedium.uploader.queue.length > 0' class='minimal noAlternateColor' style='width: 100%'>
         <tr x-ng-repeat='item in req.currentMedium.uploader.queue'>
          <td nowrap><strong>{{ item.file.name }}</strong></td>
          <td ng-show="req.currentMedium.uploader.isHTML5 && item.file.size > 0" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
          <td ng-show="req.currentMedium.uploader.isHTML5" style='width: 100%; vertical-align: middle;'>
           <div class='small-12 progress success radius round {{ item.isError ? "alert" : "" }}' style='margin: 0'>
            <span class="meter" ng-style="{ 'width': item.progress + '%' }"></span>
           </div>
          </td>
          <td style='text-align: center; vertical-align: middle; font-size: 125%'>
           <span ng-show="item.isSuccess" style='color: green'><i class="foundicon-checkmark"></i></span>
           <span ng-show='item.isUploading' style='color: orange'><i x-ng-click='item.cancel()' class='foundicon-remove'></i></span>
           <span ng-show="item.isError || item.isCancel" style='color: {{ item.isError ? "red" : "orange" }}'><i x-ng-click='item.upload()' class="foundicon-refresh"></i></span>
          </td>
          <td style='text-align: center; vertical-align: middle; font-size: 125%'>
           <span><i x-ng-click='req.removeItem(item, "currentMedium.photo")' class='foundicon-trash'></i></span>
          </td>
         </tr>
        </table>
        <div ng-show="req.currentMedium.uploader.isHTML5 && req.currentMedium.uploader.queue.length == 0">
         <!-- 3. ng-file-over | ng-file-over="className" -->
         <div class="drop-zone-panel round radius" ng-file-over='drop-zone-hover-panel'>
             Drag Your Files Here To Upload
         </div>
        </div>
        
        <div ng-hide='req.currentMedium.uploader.isHTML5 || req.currentMedium.uploader.queue.length > 0'>
         <input ng-file-select type="file" />
        </div>
        
       </div>
      </div>
      
      <div class='row'>
       <div class='columns small-12'>
        <label>Identify the number of additional people (other than presenter) who will need panelist access to the LIVE webinar</label>
        <div class='small-2'>
         <input type='number' x-ng-model='req.currentMedium.data.additionalPeople' />
        </div>
       </div>
      </div>
      
     </div>
    </div> 
   </div>
   
   <div class='row'>
    <div class='columns small-12'>
     <div class='panel'>
     
      <h5>Registration Information</h5>
      <div class='row'>
       <div class='columns small-12'>
        <div class='panel callout'>
         <p class='medium'>Standard information collected is name, email, title, organization, city, state, zip, and telephone.<br />Identify additional information you would like collected.</p>
        </div>
       </div>
      </div>
      
      <div class='row'>
       <div class='columns small-12'>
        <input type="checkbox" x-ng-model="req.currentMedium.data.additionalInformation['CEU']" >
        <label>CEU Credit</label>
        <div class='alert-box secondary'>If webinar content is professional development, you should offer live attendees option to receive a CEU certification.</div>
       </div>
      </div>
      
      <div class='row'>
       <div class='columns small-12'>
        <input type="checkbox" x-ng-model="req.currentMedium.data.additionalInformation['Incentives']" >
        <label>Attendee Incentives</label>
        <div class='alert-box secondary'>Product give-a-ways or contests.</div>
       </div>
      </div>
      
      <div class='row'>
       <div class='columns small-12'>
        <input type="checkbox" x-ng-model="req.currentMedium.data.additionalInformation['Polling']" >
        <label>Polling Questions</label>
        <div class='alert-box secondary'>Learn more about your audience and engage.</div>
       </div>
      </div>
      
      <div class='row'>
       <div class='columns small-12'>
        <input type="checkbox" x-ng-model="req.currentMedium.data.additionalInformation['Exit-Survey']" >
        <label>Exit Survey</label>
        <div class='alert-box secondary'>Survey will immediately open after an attendee exits.</div>
       </div>
      </div>
      
      <div class='row'>
       <div class='columns small-12'>
        <input type="checkbox" x-ng-model="req.currentMedium.data.additionalInformation['Free-Resources']" >
        <label>Free Resources</label>
        <div class='alert-box secondary'>White papers, digital marketing collateral, links to video content. Links will be distributed to live content on the webinar using chat function.</div>
       </div>
      </div>
      
      <div class='row'>
       <div class='columns small-12'>
        <input type="checkbox" x-ng-model="req.currentMedium.data.additionalInformation['Follow-Up']" >
        <label>Follow-Up</label>
        <div class='alert-box secondary'>Additional follow-up emails or links to content, beyond the normal follow-up email that all recipients receive after participation.</div>
       </div>
      </div>
      
      <div class='row'>
       <div class='columns small-12'>
        <input type="checkbox" x-ng-model="req.currentMedium.data.additionalInformation['Leads']" >
        <label>Leads</label>
        <div class='alert-box secondary'>All registration information is uploaded into SFDC and registrants are categorized as contacts.  Are there special qualifiers for your webinar? Do certain segments of attendees need follow-up differently or immediately?</div>
       </div>
      </div>
      
     </div>
    </div> 
   </div>

  </form>