  <div x-ng-include='req.mediumTemplate'></div>
  
  <div class='row'>
   <div class='columns small-12'>
    <progress-bar current-step='req.currentStep'></progress-bar>
   </div>
  </div>
  
  <div class='row'>
   <div class='columns small-12'>
    <button x-ng-hide='req.job.hasMultipleComponents()' x-ng-click='req.submit()' class='left'>Submit</button>
    <button x-ng-show='req.job.hasMultipleComponents()' x-ng-click='req.done()' class='left'>Done</button>
    
    <button x-ng-show='req.job.hasMultipleComponents()' x-ng-click='req.delete()' class='right alert'>Delete</button>
    
    <span x-ng-hide='req.job.hasMultipleComponents()' class='right'>
     <button x-ng-click='req.previous()'>&lt; Previous</button>&nbsp;<button class='alert' x-ng-click='req.cancel()'>Cancel</button>
     
    </span>
   </div>
  </div>
